* {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    background-color: rgb( 34, 34, 34);
}
hr{
    border-color:#aaa;
    height: 1px;
    box-sizing:border-box;
    width:100%;  
  }

p, h1, h2, h3, a {
    color: rgb(51, 255, 51);
}

.principal {
    display: flex;
    width: 100%;
}

.navegacao {
    width: 15vw;
    height: 100vh;
    background-color: rgb(49, 48, 48);
    position: fixed;
    top: 0;
    left: 0;
}

.navegacao h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 35px;
    text-shadow: 3px 1px black;
}

.navegacao ul {
    list-style: none;
    margin-left: 0;
    text-align: center;
    
}

.cursor{
    width: 70%;
    margin-left: 35px;
}
.navegacao li {
    margin-top: 30px;
    text-shadow: 3px 2px 2px  black;
    
}
.navegacao li:hover{
    transition: 1s ease;
    background-color: green;
}

.navegacao a {
    text-decoration: none;
    color: rgb(51, 255, 51);
}

.perfil {
    margin-top: 35px;
    width: 200px;
    border: inset;
    border-color:rgb(51, 255, 51);
    border-radius: 100%;
    margin-left: 35px;
    box-shadow: 300px;
}
.perfil:hover{
    transform: 1s ease;
    transform:scale(1.2);
    margin-bottom: 15px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15vw;
    width: 85vw;
    height: 100vh;
    text-align: center;
}

.back {
    width: 100%;
    max-height: 102.1vh;
    object-fit: cover;
    margin-bottom: 20px;
}

.conteudo-principal p {
    width: 650px;
    background-color: rgba(2, 2, 2, 0.3);
    color: rgb(51, 255, 51);
    text-shadow: 3px 3px black;
    position: absolute;
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 354px;
    margin-left: 550px;
}

.sobre {
    margin-left: 17%;
    margin-top: 5%;
    height: 100vh;
    text-shadow: 1px 1px white;
}

.sobre h1 {
    color: rgb(51, 255, 51);
    font-size: 2.5rem;
    margin-left: 4%;
}

.sobre p {
    margin-top: 35px;
    color: rgb(51, 255, 51);
    text-align: center;
}

.sobre img {
    margin-left: 500px;
    margin-top: 50px;
    width: 400px;
    box-shadow: 3px 3px 3px 3px;
}

.resumo {
    background-color: rgb(25,25,25);
    height: 100vh;
    margin-left: 15%;
    padding-top: 36px;
    padding-left: 55px;
    text-shadow: 1px 1px white;
}

.resumo h1 {
    font-size: 55px;
}

.resumo li {
    font-size: 35px;
    list-style: none;
    font-size: 33px;
}

.exp {
    display: flex;
    justify-content: space-between;
}

.formacoes, .experiencias {
    width: 45%;
}

.formacoes h1, .experiencias h1 {
    color: rgb(51, 255, 51);
    font-size: 55px;
}

.formacoes ul, .experiencias ul {
    font-size: 33px;
    margin-right: 5px;
}
.formacoes li{
    list-style-image: url(/fotos/estudo.png);
}
.exp li{
    list-style-image: url(/fotos/job.png);
}

.exp h2 {
    padding-top: 150px;
    color: rgb(51, 255, 51);
    font-size: 36px;
}

.exp p {
    color: rgb(51, 255, 51);
    font-size: 20px;
}
